[submodule "CheddarKit/Vendor/SSKeychain"]
	path = CheddarKit/Vendor/SSKeychain
	url = https://github.com/samsoffes/sskeychain.git
[submodule "CheddarKit/Vendor/SSDataKit"]
	path = CheddarKit/Vendor/SSDataKit
	url = https://github.com/samsoffes/ssdatakit.git
[submodule "CheddarKit/Vendor/AFIncrementalStore"]
	path = CheddarKit/Vendor/AFIncrementalStore
	url = https://github.com/AFNetworking/AFIncrementalStore.git
[submodule "CheddarKit/Vendor/Bully"]
	path = CheddarKit/Vendor/Bully
	url = https://github.com/samsoffes/bully.git
[submodule "CheddarKit/Vendor/Reachability"]
	path = CheddarKit/Vendor/Reachability
	url = https://github.com/samsoffes/Reachability.git
