[submodule "CheddarKit/Vendor/SSKeychain"]
	path = CheddarKit/Vendor/SSKeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "CheddarKit/Vendor/SSDataKit"]
	path = CheddarKit/Vendor/SSDataKit
	url = https://github.com/soffes/ssdatakit.git
[submodule "CheddarKit/Vendor/Bully"]
	path = CheddarKit/Vendor/Bully
	url = https://github.com/soffes/bully.git
[submodule "CheddarKit/Vendor/AFNetworking"]
	path = CheddarKit/Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
